.nba-card {
  align-items: center;
  border-top: 1px solid #C63D0F;
  background-color: #3B3738;
  display: flex;
  height: 42px;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 10%;
}

.english-desc {
  font-weight: 200;
  color: #FDF3E7;
}

.nba-title-container {
  text-align: left;
  width: 40%;
}

.english-rank {
  margin-left: 16%;
}

.english-record-container {
  display: flex;
  margin-left: 15%;
}

.english-points {
  margin-left: 15%;
}

.nba-team-name {
  color: #FDF3E7;
  font-weight: 200;
}

.nba-record {
  color: #FDF3E7;
  font-weight: 200;
}

.nba-record-container {
  width: 11%;
}