.create-user, .login-user-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 25%;
}

.login-container {
  background-color: rgb(253, 243,	231, .65);
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-top: 10%;
  width: 100%;
}